* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
}

body {
    /* background-image: url(../assets/images/MoonlitAsteroid.jpg); */
    background-color: #4f2c82;
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-links {
    list-style: none;

}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a {
    text-decoration: none;
    font-weight: 100px;
    color: rgb(250, 246, 246);
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #3aa7c9;
}

#logo {
    cursor: pointer;
}

#logo img {
    width: 6vw;
}

.section .title {
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 50px;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 20px;
}

.section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 350px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

.section .title::after {
    content: 'Meet the Coding Club';
    position: absolute;
    bottom: -10px;
    left: 50%;
    font-size: 20px;
    color: #bb0e5c;
    padding: 5px;
    background: #4f2c82;
    transform: translateX(-50%);
}

.faculty {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


.faculty .card-wrapper {
    position: relative;
    min-height: 50%;
    width: 30%;
    background: linear-gradient(112.91deg,
            rgba(255, 255, 255, 0.51) 3.51%,
            rgba(255, 255, 255, 0) 111.71%);
    filter: drop-shadow(50px 60px 100px rgba(0, 0, 0, 0.05));
    backdrop-filter: blur(70px);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: center;
    transform-style: preserve-3d;
    overflow: hidden;
    /* padding: 70px 0; */
}

.faculty .profile-img {
    width: 12em;
    height: 12em;
    background-image: url(../assets/images/me.jpg);
    background-size: cover;
    background-position: 0px;
    border-radius: 50%;
    margin-bottom: 2.1rem;
    position: relative;
    margin-top: 2rem;
}

.faculty .profile-img::before {
    position: absolute;
    content: "";
    width: 14em;
    height: 14em;
    z-index: -1;
    top: -16px;
    left: -16px;
    border-radius: 50%;
    background: linear-gradient(112.91deg,
            rgba(255, 255, 255, 0) 3.51%,
            rgba(255, 255, 255, 0) 111.71%);
    filter: drop-shadow(50px 60px 100px rgba(0, 0, 0, 0.05));
    backdrop-filter: blur(70px);
}

.faculty .main-title {
    font-size: 2.2rem;
    font-weight: bold;
    letter-spacing: 0.065em;
    margin-bottom: 1rem;
}

.faculty .sub-title {
    font-weight: 500;
    font-size: 1.2rem;
    opacity: 0.68;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

.faculty p {
    margin-bottom: 3px;
}

.faculty .media-wrapper {
    margin-bottom: 2rem;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.faculty a {
    text-decoration: none;
}

.faculty .btn-portfolio {
    font-size: 1.3rem;
    letter-spacing: 0.18em;
    font-weight: 600;
    padding: 13px 40px;
    background: linear-gradient(112.91deg,
            rgba(255, 255, 255, 0.05) 3.51%,
            rgba(255, 255, 255, 0) 111.71%);
    filter: drop-shadow(50px 60px 100px rgba(0, 0, 0, 0.05));
    backdrop-filter: blur(70px);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
    margin-bottom: 2rem;
}

/* student section start  */

.student {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.student .card-wrapper {
    position: relative;
    min-height: 50%;
    width: 25%;
    background: linear-gradient(112.91deg,
            rgba(255, 255, 255, 0.51) 3.51%,
            rgba(255, 255, 255, 0) 111.71%);
    filter: drop-shadow(50px 60px 100px rgba(0, 0, 0, 0.05));
    backdrop-filter: blur(70px);
    border-radius: 2rem;
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: center;
    transform-style: preserve-3d;
    overflow: hidden;
    /* padding: 70px 0; */
}

.student .profile-img {
    width: 12em;
    height: 12em;
    background-image: url(../assets/images/me.jpg);
    background-size: cover;
    background-position: 0px;
    border-radius: 50%;
    margin-bottom: 2.1rem;
    position: relative;
    margin-top: 2rem;
}

.student .profile-img::before {
    position: absolute;
    content: "";
    width: 14em;
    height: 14em;
    z-index: -1;
    top: -16px;
    left: -16px;
    border-radius: 50%;
    background: linear-gradient(112.91deg,
            rgba(255, 255, 255, 0) 3.51%,
            rgba(255, 255, 255, 0) 111.71%);
    filter: drop-shadow(50px 60px 100px rgba(0, 0, 0, 0.05));
    backdrop-filter: blur(70px);
}

.student .main-title {
    font-size: 2.2rem;
    font-weight: bold;
    letter-spacing: 0.065em;
    margin-bottom: 1rem;
}

.student .sub-title {
    font-weight: 500;
    font-size: 1.2rem;
    opacity: 0.68;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

.student p {
    margin-bottom: 3px;
}

.student .media-wrapper {
    margin-bottom: 2rem;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.student a {
    text-decoration: none;
}

.student .btn-portfolio {
    font-size: 1.3rem;
    letter-spacing: 0.18em;
    font-weight: 600;
    padding: 13px 40px;
    background: linear-gradient(112.91deg,
            rgba(255, 255, 255, 0.05) 3.51%,
            rgba(255, 255, 255, 0) 111.71%);
    filter: drop-shadow(50px 60px 100px rgba(0, 0, 0, 0.05));
    backdrop-filter: blur(70px);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
    margin-bottom: 2rem;
}

/* alumni section :start */

.alumni {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.alumni .card-wrapper {
    position: relative;
    min-height: 50%;
    width: 25%;
    background: linear-gradient(112.91deg,
            rgba(255, 255, 255, 0.51) 3.51%,
            rgba(255, 255, 255, 0) 111.71%);
    filter: drop-shadow(50px 60px 100px rgba(0, 0, 0, 0.05));
    backdrop-filter: blur(70px);
    border-radius: 2rem;
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: center;
    transform-style: preserve-3d;
    overflow: hidden;
    /* padding: 70px 0; */
}

.alumni .profile-img {
    width: 12em;
    height: 12em;
    background-image: url(../assets/images/me.jpg);
    background-size: cover;
    background-position: 0px;
    border-radius: 50%;
    margin-bottom: 2.1rem;
    position: relative;
    margin-top: 2rem;
}

.alumni .profile-img::before {
    position: absolute;
    content: "";
    width: 14em;
    height: 14em;
    z-index: -1;
    top: -16px;
    left: -16px;
    border-radius: 50%;
    background: linear-gradient(112.91deg,
            rgba(255, 255, 255, 0) 3.51%,
            rgba(255, 255, 255, 0) 111.71%);
    filter: drop-shadow(50px 60px 100px rgba(0, 0, 0, 0.05));
    backdrop-filter: blur(70px);
}

.alumni .main-title {
    font-size: 2.2rem;
    font-weight: bold;
    letter-spacing: 0.065em;
    margin-bottom: 1rem;
}

.alumni .sub-title {
    font-weight: 500;
    font-size: 1.2rem;
    opacity: 0.68;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

.alumni p {
    margin-bottom: 3px;
}

.alumni .media-wrapper {
    margin-bottom: 2rem;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.alumni a {
    text-decoration: none;
}

.alumni .btn-portfolio {
    font-size: 1.3rem;
    letter-spacing: 0.18em;
    font-weight: 600;
    padding: 13px 40px;
    background: linear-gradient(112.91deg,
            rgba(255, 255, 255, 0.05) 3.51%,
            rgba(255, 255, 255, 0) 111.71%);
    filter: drop-shadow(50px 60px 100px rgba(0, 0, 0, 0.05));
    backdrop-filter: blur(70px);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
    margin-bottom: 2rem;
}