<footer>
    <div id="plants">
      <img src="landing_page/assets/images/footer plant.svg" alt="" />
    </div>
    <!-- <img src="assets/images/backdrop.svg" alt="" id="footerbg"> -->
    <div id="bgpurple">
      <p class="headingPurple" id="work">INTERESTED IN WORKING WITH US?</p>
      <div id="footer-note">
        <div id="address">
          <ul>
            <li>hskjcckhdnik</li>
            <li>sbcjso;klwsdldl</li>
            <li>dushisjolmkkmldwii</li>
          </ul>
        </div>
        <div id="follow">
          FOLLOW US @
          <ul>
            <li>GIT HUB **********</li>
            <li>LINKEDIN **********</li>
            <li>FACEBOOK **********</li>
            <li>YOUTUBE *********</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>