
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link href="../public/footer2/css/footerstyle.css" rel="stylesheet" type="text/css">



		<footer class="footer-distributed">

			<div class="footer-left">

				<h3><span>logo</span></h3>
				
				<p class="footer-links">
			       
					<a href="">Resources</a>
					·
					<a href="">Blog</a>
					·
					<a href="">Event</a>
					·
					<a href="">Projects</a>
					·
					<a href="">Team</a>
					·
					
				</p>

				<p class="footer-company-name">Codastic © 2018</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fas fa-map-marker"></i>
					<p><span>NIT Meghalaya</span> Shillong,Meghalaya</p>
				</div>

				<div>
					<i class="fas fa-phone"></i>
					<p>+91 8877665544</p>
				</div>

				<div>
					<i class="fas fa-envelope"></i>
					<p><a href="mailto:codastic@nitm.ac.in">codastic@nitm.ac.in</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About the Club</span>
					Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
				</p>

				<div class="footer-icons">

					<a href=""><i class="fab fa-facebook"></i></a>
					<a href=""><i class="fab fa-twitter"></i></a>
					<a href=""><i class="fab fa-linkedin"></i></a>
					<a href=""><i class="fab fa-github"></i></a>

				</div>

			</div>

		</footer>

