<div id="plants">
    <img src="landing_page/assets/images/footer plant.svg" alt="" />
</div>
<footer>
    <p class="headingPurple" id="work">INTERESTED IN WORKING WITH US?</p>


    <div id="footer-note">
        <div id="address">
            NIT MEGHALAYA
            <ul>
                <li>location</li>
                <li>ph-4676437674</li>
                <li>dsjf sdfg sj</li>
                <li>@nitm.ac.in</li>
            </ul>
        </div>
        <div id="about">ABOUT
            <ul>
                <li>about</li>
                <li>what we do</li>
                <li>projects</li>
                <li>how to work with us</li>
            </ul>
        </div>
        <div id="follow">
            FOLLOW US @
            <ul>
                <li>GIT HUB </li>
                <li>LINKEDIN </li>
                <li>FACEBOOK </li>
                <li>YOUTUBE </li>
            </ul>
        </div>

    </div>
    <div class="copyright">
        © 2021 National Institute of Technology Meghalaya
    </div>
    </div>

</footer>