


<div id = "gallery">
    <h2>NITM-Arcade</h2>

  <img id="featured" src="https://images.unsplash.com/photo-1494256997604-768d1f608cac?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1101&q=80" alt=""> 
    
  
        <div id="slide-wrapper">
            
            <span id="arrowLeft"><svg  class='arrow' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M15.28 5.22a.75.75 0 00-1.06 0l-6.25 6.25a.75.75 0 000 1.06l6.25 6.25a.75.75 0 101.06-1.06L9.56 12l5.72-5.72a.75.75 0 000-1.06z"></path></svg></span>



         <div id="slider">
            <img class ="thumbnail hovered" src="https://images.unsplash.com/photo-1494256997604-768d1f608cac?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1101&q=80" alt=""> 

            <img class="thumbnail "  src="https://images.unsplash.com/photo-1504384764586-bb4cdc1707b0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="">

                <img class ="thumbnail " src="https://images.unsplash.com/photo-1599507593499-a3f7d7d97667?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80" alt="">

                <img class ="thumbnail" src="https://images.unsplash.com/photo-1531030874896-fdef6826f2f7?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80" alt="">

                <img class ="thumbnail" src="https://images.unsplash.com/photo-1571525772384-7710e997fa99?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80" alt="">

                <img class ="thumbnail" src="https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="">

                <img class ="thumbnail" src="https://images.unsplash.com/photo-1542564873-87604771e375?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="">

                <img class="thumbnail" src="https://images.unsplash.com/photo-1490535004195-099bc723fa1f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1480&q=80">

                <img class="thumbnail" src="https://images.unsplash.com/photo-1595981728099-244b1eb2f33f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80">

                <img class="thumbnail" src="https://images.unsplash.com/photo-1493770348161-369560ae357d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80">

                <img class="thumbnail" src="https://images.unsplash.com/photo-1497888329096-51c27beff665?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1351&q=80">

                <img class="thumbnail" src="https://images.unsplash.com/photo-1499028344343-cd173ffc68a9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80">


            </div>


                <svg id="arrowRight" class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M8.72 18.78a.75.75 0 001.06 0l6.25-6.25a.75.75 0 000-1.06L9.78 5.22a.75.75 0 00-1.06 1.06L14.44 12l-5.72 5.72a.75.75 0 000 1.06z"></path></svg>
        </div>
</div>

<style>
    #gallery{
        padding-top:10px;
        padding-bottom:100px;
    }
    #gallery h2{
        margin-bottom: 30px;
        font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: italic;
    }
    #featured{
        width: 70%;
        max-height: 550px;
        object-fit: cover;
        cursor: pointer;
        border:  3.4px solid grey;
    }

    .thumbnail{
        object-fit: cover;
        max-width: 180px;
        max-height:100px;
        cursor:pointer;
        margin:0 5px;
        
        margin-bottom: 10px;
        border: 2px solid black;
        opacity: 0.5;
    }
    
    .thumbnail:hover{
        opacity:1;
    }
    .hovered{
        opacity:1;
    }
    .arrow{
        border:2px solid black;
        border-radius:50%;
        transition:.3s;
        margin-bottom:10px
    }
    #arrowRight{
        margin-left:5px;
    }
    .arrow:hover{
        cursor:pointer;
       background-color: white;
        color:white;
        border-radius:50%;
    }
    #slide-wrapper{
        max-width:100%;
        min-height:100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:30px;
    }
    #slider{
        max-width:70%;
        display: flex;
        flex-wrap: nowrap;
        overflow-x:auto;
        
    }


</style>

<script>

     const thumbnails = document.getElementsByClassName('thumbnail')
     const activeImages = document.getElementsByClassName('hovered')

     for(let i=0; i< thumbnails.length; i++){

         thumbnails[i].addEventListener('mouseover', function(){
             console.log(activeImages)


             if(activeImages.length > 0 ){
                 activeImages[0].classList.remove('hovered');
             }

             this.classList.add('hovered');
             document.getElementById('featured').src = this.src;
            
         });
     };

     const leftButton =  document.getElementById('arrowLeft');
     const rightButton = document.getElementById('arrowRight');

     leftButton.addEventListener('click', function(){
         document.getElementById('slider').scrollLeft -= 175 ;
     });

     rightButton.addEventListener('click', function(){
         document.getElementById('slider').scrollLeft +=175;
     });

  

</script>