<nav>
    <div id="logo"><a href="/"><img src="landing_page/assets/images/NITM.png" alt="" ></a></div>
    <ul class="nav-links">
        <!-- <li><a href="index.html"> HOME</a></li> -->
        <li> <a href="/resources">RESOURCES</a> </li>
        <li> <a  href="/events">EVENTS</a> </li>
        <li> <a  href="/projects">PROJECTS</a> </li>
        <li> <a  href="/teams">TEAM</a> </li>
    </ul>
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>

<style>
  
 nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
 position:fixed;
 width:100%;
 z-index: 100;

}

ul{
  list-style: none;
}

.nav-links {
   display: flex;
  justify-content: space-around; 
   width: 50%; 

}

.nav-links li {
  list-style: none;
 
}

.nav-links li a{
  text-decoration: none;
  font-size: 1.3vw;
  color: rgb(255, 255, 255);
      text-decoration: none;
      letter-spacing: 2px;
     
}
.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.3s ease;
 
}
#logo img{
  width:8vw;
  margin: 10px 0;
}

/* *************background-color_class***************** */
.bgColor{
  background-color:rgba(75, 41, 124,0.5);
  width:100%;
  position:fixed;
  /* -webkit-position:sticky; */
  /* top:0; */
  z-index: 100;
}

/* *****animation styling******** */
 .button_scroll{
  fill: unset;
  border: none;
  position: fixed;
  background: #B5076B;
  box-shadow:  inset 5px -6px 10px rgba(0, 0, 0, 0.25), inset -5px 5px 8px rgba(176, 71, 131, 0.82);
  border-radius: 50%;
  right: 3vw;
  bottom: 3vw;
  width: 4vw ;
  height: 4vw;
  z-index: 3;
  padding: 0.5vw;
 

}
.button_scroll #contact{
display: none;
}
.button_scroll img{
  /* align-self: center; */
}   


@media only screen and (max-width: 768px){
  body {
      overflow-x: hidden;
  }
  #logo img{
    padding-top:0;
  }
  nav{
      position: fixed;
      top:0;
      width:100%;
      background-color: rgba(75, 41, 124,0.5) ;
      height:8vh;
      z-index: 2;
  }
  .nav-links {
      position: fixed;
      right: 0px;
      height: 92vh;
      top: 8vh;
      background-color: rgba(75, 41, 124,0.5);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
  }
  .nav-links li a {
      color: rgb(255, 255, 255);
      text-decoration: none;
      letter-spacing: 3px;
      font-weight: bold;
      font-size: 14px;
  }
  .nav-links li {
      opacity: 0;
  }
  
  .burger {
      display: block;
      cursor: pointer;
  }
}

.nav-active {
      transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
      opacity: 0;
      transform: translateX(50px);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

</style>

<script>
    function navSlide() {
    const burger = document.querySelector(".burger");
    const nav = document.querySelector(".nav-links");
    const navLinks = document.querySelectorAll(".nav-links li");
    
    burger.addEventListener("click", () => {
        //Toggle Nav
        nav.classList.toggle("nav-active");
        
        //Animate Links
        navLinks.forEach((link, index) => {
            if (link.style.animation) {
                link.style.animation = ""
            } else {
                link.style.animation = `navLinkFade 0.5s ease forwards ${index / 7 + 0.5}s`;
            }
        });
        //Burger Animation
        burger.classList.toggle("toggle");
    });
    
}
  
        navSlide();
        

        const navBar = document.querySelector('nav');
            window.addEventListener("scroll", () => {
              let value = window.scrollY;
              if(value !== 0){
                navBar.classList.add('bgColor');
              }
              else  {
                navBar.classList.remove('bgColor');
              }
              });

            
             

</script>