body {
	background: #DAE2F8;  
	background: -webkit-linear-gradient(to right, #D6A4A4, #DAE2F8);  
	background: linear-gradient(to right, #D6A4A4, #DAE2F8);
}

img {
	max-width: 100%;
	height: auto;
}

.title-heading {
	height: 3.5cm;
	background: #cc2b5e;  
	background: -webkit-linear-gradient(to right, #753a88, #cc2b5e); 
	background: linear-gradient(to right, #753a88, #cc2b5e);
	font-size: 150%;
	padding: 2% 2% 2% 4%;
	color: white;
}

.card {
     	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      	transition: 0.3s;
	display: grid;
	margin: auto;
	padding: 2% 2% 2% 2%;
      	border-radius: 20px;
	background: #f0f0f0;
}

.card:hover {
      	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}

.card-body  {
      	padding: 2px 16px;
}

.flex-container {
      	padding: 2% 2% 2% 2%;
	display: flex;
      	flex-wrap: wrap;
}
