<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/froala-editor@3.1.0/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
    </script>

    <!-- <link rel="stylesheet" href="../node_modules/froala-editor/css/plugins/code_view.css"> -->
    <title>AddBlog</title>
</head>

<body style="background-color: rgb(219, 217, 217);">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Blogs</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="http://www.codingclubnitm.tech">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/admin/addBlog" target="_blank">Create New
                            Blog</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <div class="container shadow-lg p-5 my-5" style="border-radius: 10px;background-color: rgb(250, 251, 251);">
        <div class="row">
            <div class="col-md-14 m-auto">
                <h1 class="text-center display-4 my-4 fw-bold">Welcome to CCNITM Blogs</h1>
                <form action="/api/v1/blog" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col">
                            <input type="text" name="Title" class="form-control" placeholder="Blog Title" aria-label="Title" required>
                        </div>
                    </div>
                    <div class="row my-4">
                        <div class="col">
                            <p class="fw-bold fs-5">Author Name</p>
                            <input type="text" name="AuthorName" class="form-control" placeholder="Author Name" aria-label="Author name">
                        </div>
                        <div class="col">
                            <p class="fw-bold fs-5">Author Email</p>
                            <input type="email" name="AuthorEmail" class="form-control" placeholder="Author Email" aria-label="Author Email">
                        </div>
                        <div class="col">
                            <p class="fw-bold fs-5">Linked Profile Link</p>
                            <input type="text" name="AuthorLinkedIn" class="form-control" placeholder="Author LinkedIn Profile Link" aria-label="Author Profile">
                        </div>
                    </div>
                    <select class="form-select my-4" name="Category" aria-label="Default select example">
                        <option selected>Choose Category</option>
                        <option value="Competitive Programming">Competitive Programming</option>
                        <option value="Web Development">Web Development</option>
                        <option value="Machine Learning">Machine Learning</option>
                        <option value="Network Security">Network Security</option>
                        <option value="App Development">App Development</option>
                        <option value="others">Other</option>
                    </select>
                    <label class="fw-bold fs-2" for="floatingTextarea2">Write Your Blog Here</label>
                    <div class="form-floating my-4">

                        <!-- <div name="Content" id="example"></div> -->
                        <textarea id="example" class="form-control" name="Content" placeholder="Write Full Description" id="example" style="height: 100px"></textarea>
                    </div>
                    <div class="form-floating my-4">
                        <textarea class="form-control" name="ShortDescription" placeholder="Write Short Description" id="floatingTextarea2" style="height: 100px"></textarea>
                        <label class="fw-bold fs-5" for="floatingTextarea2">Short Description of the Blog(less then 200
                            words)</label>
                    </div>
                    <div class="form-floating my-4">
                        <textarea class="form-control" name="Tags" placeholder="Write a Short Description" id="floatingTextarea"></textarea>
                        <label class="fw-bold fs-5" for="floatingTextarea">Related Tags (Please add a # before every
                            tag)</label>
                    </div>
                    <!-- <div class="col my-2">
                        <p class="fw-bold fs-5">Created Date:</p>
                        <input type="date" name="CreatedDate" class="form-control" placeholder="Date" aria-label="Date">
                    </div>
                    <label class="fw-bold" for="basic-url" class="form-label">Any Link</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon3">Link(if any)</span>
                        <input type="text" name="Link" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                    </div> -->
                    <div class="input-group mb-3">
                        <div class="col">
                            <label class="fw-bold fs-5" for="file" class="custom-file-label">Upload any relevent blog
                                Image</label>
                        </div>
                        <div class="col">
                            <input type="file" name="blogImage" class="form-control" id="inputGroupFile02">
                        </div>
                    </div>
                    <input type="submit" value="Submit Blog for Review" class="btn btn-primary btn-block">
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@3.1.0/js/froala_editor.pkgd.min.js">
    </script>
    <!-- <script src="../node_modules/froala-editor/js/plugins/table.min.js"></script> -->
    <!-- <script src="../node_modules/froala-editor/js/plugins/code_view.min.js"></script> -->

    <script src="/Blog/script.js"></script>
</body>

</html>