*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
}


/* popup */


#contactForm { 
    display: none;
    padding: 2em;
    width: 500px;
    text-align: center;
    background: whitesmoke;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    z-index: 1000000;
    
  }


  
form input, textarea
{
    background: transparent;
    /* width: 200px; */
    padding: 1em;
    margin-bottom: 2em;
    border: blueviolet solid 5px;
    border-left: 1px solid rgba(255,255,255, 0.3);
    border-top: 1px solid rgba(255,255,255, 0.3);
    color: #fff;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-radius: 5000px;
    box-shadow: 4px 4px 60px 8px rgba(0,0,0, 0.1);

}

form input:hover, textarea:hover
{
    background: rgba(255,255,255, 0.1);
    box-shadow: 4px 4px 60px 8px rgba(0,0,0, 0.2);
}
form input[type="email"]:focus,
form input[type="text"]:focus
{
    background: rgba(255,255,255, 0.1);
    box-shadow: 4px 4px 60px 8px rgba(0,0,0, 0.2);   
}
form input[type="submit"]
{
    margin-top: 10px;
    width: 150px;
    font-size: 1rem;
    color: #000000;
}
form input[type="submit"]:hover
{
    cursor: pointer;
}


::placeholder
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: black;
}
::-webkit-input-placeholder
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: black;
}
a,
input:focus,
button:focus,
select:focus
{
    outline: none;
}
  
  input, textarea { 
    margin: .8em auto;
    font-family: inherit; 
    text-transform: inherit; 
    font-size: inherit;
    
    display: block; 
    width: 280px; 
    padding: .4em;
  }
  textarea { height: 80px; resize: none; }
  

/* ********************************************** */

/* ******header section****** */
header{
    height: 100 vh;
    /* background-position: 70% 40%; */
    background-image: url(../images/backdrop.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: white; */
}
ul{
    list-style: none;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li {
    list-style: none;
}

.nav-links li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.2vw;
}
.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}
#logo img{
    width:8vw;
}



#cc{
    color: #EBEBEB;
    position: absolute;
    margin: 16vw 13vw ;
    font-size: 6.5vw;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#nm{
    color: #FFFFFF;
    position: absolute;
    margin: 24vw 14vw;
    font-size: 3vw;
    letter-spacing: 0.11em;
    text-shadow: -14px 16px 27px rgba(0, 0, 0, 0.8);
}
.button{
    border: none;
    position: absolute;
    background: #B5076B;
    box-shadow: -14px 16px 27px rgba(0, 0, 0, 0.25), inset 5px -6px 10px rgba(0, 0, 0, 0.25), inset -5px 5px 8px rgba(176, 71, 131, 0.82);
    border-radius: 25px;
    margin: 28vw 14vw;
    padding: 1vw 2vw;
}
.button img{
    display: none;
}
#contact{
    line-height: 24px;
    letter-spacing: 0.07em;
    color: #FFFFFF;
    font-size: 1.2vw;
}
#sideglass img{
width: 115%;
min-height: fit-content;
}

#sideglass{
    position: relative;
    width: 65vw;
    height: fit-content;
    overflow-x: hidden;
    
    margin: -1vw 0 auto auto;
    z-index: 1;
}
#cube1 img{
    width: 9vw;
}
#cube2 img{
    width: 15vw;
}
#cube3 img{
    width: 13vw;
}
#cube4 img{
    width: 11vw;
}
#cube1,#cube2,#cube3,#cube4{
    position: absolute;
    width: fit-content;
    height: fit-content;
}
#cube1{
  top: 0;
  right: 1vw;
}
#cube2{
   top: 8vw;
   right: 19vw;
}
#cube3{
    top: 25vw ;
    right: 8.5vw;
}
#cube4{
    top:33.5vw ;
}

/* ********* about us section******** */

.about-us{
    box-sizing:border-box;
    
    padding: 20vh 5vw 20vh 5vw;
}
#box{
    box-sizing: border-box;
    background-color: #F9F9F9;
    border-radius: 20px;
    height: 40vw;
   align-items: center;
}
#deslong{
    position: relative;
    margin: auto;
    padding-top: 10vh;
    width: 65%;
    font-weight: 20;
    font-size: 3.2vw;
    line-height: 164.9%;
    color: #000000;
    text-align: center;

}
#desshort{
    position: relative;
    margin: auto;
    padding-top: 2.7vw;
    width: 83%;
    font-style: normal;
    font-weight: 100; 
    font-size: 1.5vw;
    line-height: 164.9%;
    color: #423a4f;
    text-align: center;
}
#d3,#d2,#d1{
    display: inline-block;
    position: relative;
    text-align: center;
}
#d1 img{
    width: 10vw;
}
#d2 img{
    width: 15vw;
}
#d3 img{
    width: 7vw;
}
#d1{
    bottom: 32vw;
    left: 72vw;
} 
#d2{
    bottom:23vw;
    left: -12vw;
}
#d3{
    bottom: 14vw;
    left: 53vw;
}

/* ******What we do?****** */

.headingPurple{
    font-weight: 500;
    font-size: 4vw;
    line-height: 164.9%;
    text-align: center;
    color: #3C1A63;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -5px 16px 32px rgba(44, 19, 73, 0.2);
    padding-bottom: 6vw;
}
.cards{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.border{
    background-image: linear-gradient(to right,rgba(0,0,0,0.22), black,rgba(0,0,0,0.22));
    /* background-color: #B5076B; */
    width: 80%;

}
.icondes{

    text-align: center;
    font-size: 1.75vw;
    width: 100%;
    overflow-wrap: break-word;
    background-color:rgba(255, 255, 255, 1);
    margin: auto;
    margin-top: 1.5px;
    padding-top: 1vw;
    
}
.whiteBox img{
    width: 80%;
    /* height: 30%; */
    padding-top: 5vw;
    
}
.cards :nth-child(2) .whiteBox img{
    /* height: 45%; */
    padding-top: 3vw;
    
}
.cards :nth-child(2) .whiteBox .border{
    margin-top: -1.5px;
}
.cards :nth-child(2) .whiteBox .icondes{
    margin-top: 1.5px;
}
.whiteBox{
    box-sizing: border-box;
    position: relative;
    width: 24vw;
    height: 28vw;
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}
.colorBox{
    margin-top: -24vw;
    left: 4vw;
    position: relative;
    width: 24vw;
    height: 28vw;
    /* left: 5px;
    top: 48px; */
    z-index: -1;
    background-color: rgba(255, 106, 137, 0.2);
    border-radius: 25px;
}
.cards :nth-child(2) .colorBox{
    background-color:  rgba(106, 130, 251, 0.2);
}
.cards :nth-child(3) .colorBox{
    background-color:  rgba(225, 0, 255, 0.2);;
}

/******footer***** */
footer{
    margin-top: 10vh;
    color: white;
}
#work{
    color: white;
    font-size: 3vw;
    letter-spacing: 2px;
    padding-top: 4vw;
}
#bgpurple{
    background-image: url(../images/backdrop.svg); 
}
#footer-note{
    display: flex;
    justify-content: space-between;
    margin: 2vw 4vw 0 4vw;
    padding-bottom: 5vw;
}
#plants{
    width: 50vw;
    position: relative;
    right: 0px;
    left: 47vw;
}
#plants img{
    width: 100%
}
#address{
    font-size: 2.5vw; 
}
#follow{
    font-size: 2vw;
    line-height: 2.5vw;
}
#follow li{
    font-size: 1.5vw;
}

/* *****animation styling********
.button_scroll{
    fill: unset;
    border: none;
    position: fixed;
    background: #B5076B;
    box-shadow:  inset 5px -6px 10px rgba(0, 0, 0, 0.25), inset -5px 5px 8px rgba(176, 71, 131, 0.82);
    border-radius: 50%;
    right: 3vw;
    bottom: 3vw;
    width: 4vw ;
    height: 4vw;
    z-index: 3;
    padding: 0.5vw;

}
.button_scroll #contact{
  display: none;
}
.button_scroll img{
    /* align-self: center; */
}   */


/* @media only screen and (max-width: 768px){
    body {
        overflow-x: hidden;
    }
    nav{
        position: fixed;
        top:0;
        width:100%;
        background-color: rgba(75, 41, 124,0.5) ;
        height:8vh;
        z-index: 2;
    }
    .nav-links {
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgba(75, 41, 124,0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 14px;
    }
    .nav-links li {
        opacity: 0;
    }
    
    .burger {
        display: block;
        cursor: pointer;
    }


.nav-active {
        transform: translateX(0%);
} */

/* @keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
    .cards{
        display:grid;
        
        grid-template-columns: 1fr;
        grid-template:  "card1"
                        "card2"
                        "card3";
        grid-gap: 5vw;
    }
    #card1{
        grid-area:card1 ;
    }
    #card2{
        grid-area:card2 ;
    }
    #card3{
        grid-area:card3 ;
    }
    .whiteBox{
        width:100%;
    }
    .colorBox{
        width:100%;
    }
    #cc{
        z-index: 2;
        margin-left: 15vw;
        margin-right:auto;

    }
    #nm{
        margin-left: 25vw;
        margin-right:auto;
    }
    .button{
        position: absolute;;
        margin-left: 35vw;
        margin-right:auto;
    }
    .whiteBox img{
        width: 100%;
        /* height: 30%; */
        padding-top: 5vw;
        
    }


}

 */
