@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
body{
    margin:0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    background-color: rgb(8, 24, 37);
  }
  body::before{
      content: "";
      background: linear-gradient(#f00,rgb(206, 16, 174));
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      clip-path: circle(20% at 98% 75%);
  }
  body::after{
    content: "";
    background: linear-gradient(rgb(0, 255, 255),rgb(236, 10, 115));
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    clip-path: circle(20% at left 15%);
}
.card{
    width: 700px;
    /* height: 45vh; */
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    
    border-radius: 9px;
    background: rgba(255, 255, 255, 0.445);
    overflow: hidden;
    border-top: 1px solid rgba(255,255,255,0.4);
    border-left: 1px solid rgba(255,255,255,0.4);
    padding: 10px 20px;
    backdrop-filter: blur(6px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    cursor: pointer;
    margin: 15px;

}
/* 
.leftpart{
  float: left;
  width: 55%;
  font-size: 1rem;
}
.rightpart{
    float:right;
    
}
*/
@media screen and (min-width: 768px) {
    
    .card{
        width: 700px;
      height: 45vh;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    
    border-radius: 9px;
    background: rgba(255, 255, 255, 0.445);
    overflow: hidden;
    border-top: 1px solid rgba(255,255,255,0.4);
    border-left: 1px solid rgba(255,255,255,0.4);
    padding: 10px 20px;
    backdrop-filter: blur(6px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    cursor: pointer;
    margin: 15px;
    }
}
 .button {
    border-radius: 20px;
    padding: 8px 15px;
    font-size: 1rem;
    border: 1px solid transparent;
    min-width: 100px;
    cursor: pointer;
    opacity: 0.8;
    
  }
  
  .button:focus, .button:hover {
    opacity: 1;
  }
  
  .button--primary {
    background-color: #f11d1c;
    color: #fff;
    
  }
  .card__footer {
    margin-bottom: 0px;
  }
  
  .card__footer .button {
    margin-right: 15px;
  }
 
