body {
  position: relative;
  overflow-x: hidden;
  background: linear-gradient(to right, #654ea3, #eaafc8); 

}
body,
html 
{ height: 100%;
  scroll-behavior: smooth;
}
.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {background-color: transparent;}

/*-------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&family=Pacifico&family=Righteous&family=Roboto+Condensed:wght@400;700&family=Ubuntu:wght@700&display=swap');

html{
	scroll-behavior: smooth;
}

body{
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: center;
  
	
}

.navbar-brand{
	font-family: 'Pacifico';
	font-family: 40px;
	color: #2c6399 !important;
}

.nav-link{
	font-size: 16px;
	margin:15px;
	color: black !important;
	font-family: 'Roboto Condensed';
}

.nav-link:hover{
	color: #2c6399 !important;
}

.active .nav-link{
	color: #2c6399 !important;
}

 /*hr.style13 {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

hr.style3 {
	border-top: 1px dashed #8c8b8b;*/
}

.site-content{
	background-image :url("https://images.pexels.com/photos/2653362/pexels-photo-2653362.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	background-attachment: fixed;
	background-size: cover;
}

.site-title, .site-desc{
	color: white;
	font-family:"Righteous";
}

.site-title{
	margin-top: 30%;
	margin-bottom: 6%;
	font-size: 50px;
}

.site-desc{
	font-size: 14px;
	padding-left: 15%;
	margin-bottom: 40%
}
.container{
  margin-top: 100px;
  padding-right: 30px;
  padding-left: 30px;
  background: linear-gradient(112.91deg,
  rgba(255, 255, 255, 0.45) 3.51%,
  rgba(255, 255, 255, 0) 111.71%);
  width:100vw;
  border-radius: 25px;
border: 2px solid #0000002a;


}

.section-1 .heading-1{
	margin-top: 8%;
 font-family: 'Roboto', sans-serif;
 font-weight: 700;
 font-style: italic;
 text-align: center;
}

.section-1 .heading-2{
	margin-bottom: 5%;
	font-size: 15px;
}


.section-1 .para-1{
	width: 60%;
	margin-left: 20%;
	margin-bottom: 5%;
}
.section-1 .card{
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 10px 12px rgba(0,0,0,0.2);


}
.section-1 .title{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
.date{
  font-size: 1rem;
  text-align: center;
}
.section-1 .card-text, .para-1{
  text-align: left;
  padding: 0 2px 0 2px;
	color: rgba(0, 0, 0, 0.59);
}
.section-1{
	margin-bottom: 8%;
}

/*Section 2*/

.section-2 .container-fluid{
	background-image: url("https://images.pexels.com/photos/2653362/pexels-photo-2653362.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	background-size: cover;
	background-attachment: fixed;
}

.section-2 .heading-1{
	margin-top: 10%;
	margin-bottom: 4%;
	font-family: "Righteous";
	width: 80%;
	color: whitesmoke;
}

.section-2 .para{
	width: 80%;
	font-family: "Ubuntu";
	color: whitesmoke;
	margin-bottom: 7%

}

.section-2 .btn{
	margin-bottom: 15%;
	width: 30%;
}
.button{

margin: 4px 0 4px 0;
  border-radius: 50px; 
  background: linear-gradient(90deg,#755bea,#ff72c0);
  border: none;
  color: #fff;
  letter-spacing: 1px;
  padding: 5px 12px;
}
.button:hover {
  box-shadow: 0 8px 16px 0 #755bea;

}


.card img {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
border-radius: 20px;

  

}

.card-text{

  margin-top:0rem;
  margin-bottom:0.3rem;
}
.bottom{
  padding:4px;
  margin-top:1px;
  margin-left:0px;
  margin-right: 8px;

}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  
}
div.card-body{
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;

}

h4.card-title{
  margin:0.3rem;
}
.col-md-3{
  padding-bottom: 1.5rem;
}
i.fa fa-clock-o fa-lg{
  margin-top:13px;
}




/*           Wrappers            */
/*-------------------------------*/
/* shubham */




#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 220px;
}

#sidebar-wrapper {
  z-index: 1000;
  left: 220px;
  width: 0;
  height: 100%;
  margin-left: -220px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #1a1a1a;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
display: none;
}

#wrapper.toggled #sidebar-wrapper {
  width: 220px;
}

#page-content-wrapper {
  width: 100%;
  padding-top: 70px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.navbar {
padding: 0;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 220px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  position: relative; 
  line-height: 20px;
  display: inline-block;
  width: 100%;
}

.sidebar-nav li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 3px;
  background-color: #1c1c1c;
  -webkit-transition: width .2s ease-in;
    -moz-transition:  width .2s ease-in;
     -ms-transition:  width .2s ease-in;
          transition: width .2s ease-in;

}
.sidebar-nav li:first-child a {
  color: #fff;
  background-color: #1a1a1a;
}
.sidebar-nav li:nth-child(5n+1):before {
  background-color: #ec1b5a;   
}
.sidebar-nav li:nth-child(5n+2):before {
  background-color: #79aefe;   
}
.sidebar-nav li:nth-child(5n+3):before {
  background-color: #314190;   
}
.sidebar-nav li:nth-child(5n+4):before {
  background-color: #279636;   
}
.sidebar-nav li:nth-child(5n+5):before {
  background-color: #7d5d81;   
}

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
  width: 100%;
  -webkit-transition: width .2s ease-in;
    -moz-transition:  width .2s ease-in;
     -ms-transition:  width .2s ease-in;
          transition: width .2s ease-in;

}

.sidebar-nav li a {
  display: block;
  color: #ddd;
  text-decoration: none;
  padding: 10px 15px 10px 30px;    
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}
.sidebar-header {
  text-align: center;
  font-size: 20px;
  position: relative;
  width: 100%;
  display: inline-block;
}
.sidebar-brand {
  height: 65px;
  position: relative;
  background:#212531;
  background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
 padding-top: 1em;
}
.sidebar-brand a {
  color: #ddd;
}
.sidebar-brand a:hover {
  color: #fff;
  text-decoration: none;
}
.dropdown-header {
  text-align: center;
  font-size: 1em;
  color: #ddd;
  background:#212531;
  background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
}
.sidebar-nav .dropdown-menu {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  background-color: #222;
  box-shadow: none;
}
.dropdown-menu.show {
  top: 0;
}
/*Fontawesome icons*/
.nav.sidebar-nav li a::before {
  font-family: fontawesome;
  content: "\f12e";
  vertical-align: baseline;
  display: inline-block;
  padding-right: 5px;
}
a[href*="#home"]::before {
content: "\f015" !important;
}
a[href*="#about"]::before {
content: "\f129" !important;
}
a[href*="#events"]::before {
content: "\f073" !important;
}
a[href*="#events"]::before {
content: "\f073" !important;
}
a[href*="#team"]::before {
content: "\f0c0" !important;
}
a[href*="#works"]::before {
content: "\f0b1" !important;
}
a[href*="#pictures"]::before {
content: "\f03e" !important;
}
a[href*="#videos"]::before {
content: "\f03d" !important;
}
a[href*="#books"]::before {
content: "\f02d" !important;
}
a[href*="#art"]::before {
content: "\f1fc" !important;
}
a[href*="#awards"]::before {
content: "\f02e" !important;
}
a[href*="#services"]::before {
content: "\f013" !important;
}
a[href*="#contact"]::before {
content: "\f086" !important;
}
a[href*="#followme"]::before {
content: "\f099" !important;
color: #0084b4;
}
/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
position: fixed;
top: 20px;  
z-index: 999;
display: block;
width: 32px;
height: 32px;
margin-left: 15px;
background: transparent;
border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
outline: none;
}
.hamburger.is-closed:before {
content: '';
display: block;
width: 100px;
font-size: 14px;
color: #fff;
line-height: 32px;
text-align: center;
opacity: 0;
-webkit-transform: translate3d(0,0,0);
-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
opacity: 1;
display: block;
-webkit-transform: translate3d(-100px,0,0);
-webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
position: absolute;
left: 0;
height: 4px;
width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
background-color: #1a1a1a;
}
.hamburger.is-closed .hamb-top { 
top: 5px; 
-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
top: 50%;
margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
bottom: 5px;  
-webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
top: 0;
-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
bottom: 0;
-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
top: 50%;
margin-top: -2px;  
}
.hamburger.is-open .hamb-top { 
-webkit-transform: rotate(45deg);
-webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
-webkit-transform: rotate(-45deg);
-webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
content: '';
display: block;
width: 100px;
font-size: 14px;
color: #fff;
line-height: 32px;
text-align: center;
opacity: 0;
-webkit-transform: translate3d(0,0,0);
-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
opacity: 1;
display: block;
-webkit-transform: translate3d(-100px,0,0);
-webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(250,250,250,.8);
  z-index: 1;
}




/* Achievement */

.ab{
  padding-right: 2vw;
}
.abc{
  float:right;
}




.imgStyle {
	margin: auto;
	max-width: 90%;
	height: auto;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.card-body-style {
	background: #654ea3; /*Ultra Violet*/
	background: -webkit-linear-gradient(to right, #654ea3, #eaafc8);  
	background: linear-gradient(to right, #654ea3, #eaafc8); 

	
	position: relative;
	/*background-color: #4f2c82;*/
	padding: 10px 70px 0px 70px;
	/*background: #DAE2F8;  /*Moonlight*/
	/*background: -webkit-linear-gradient(to right, #D6A4A4, #DAE2F8);  
	background: linear-gradient(to right, #D6A4A4, #DAE2F8);*/
}
.cardbox {
  margin-right: 2vw;
  padding-left: 0rem;
  padding-right: 0rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
}

.scrollbtn {
  padding-left: 2vw;
  padding-top: 20px;
  padding-bottom: 10px;
}
#slideLeft {
  color: rgb(255, 255, 255);
  margin-right: 10px;
  position: absolute;
  top: 200px;
  left: 1px;
}
#slideRight {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 200px;
  right: 1px;
}
i.sicon1 {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px black;
  background-color: black;
  padding: 15px 20px;
}
i.sicon2 {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px rgb(255, 255, 255);
  background-color: black;
  padding: 15px 20px;
}
#slideLeft:hover {
  color: black;
}
#slideRight:hover {
  color: black;
}
i.sicon1:hover {
  box-shadow: 0px 0px 2px silver;
  background-color: silver;
}
i.sicon2:hover {
  box-shadow: 0px 0px 2px silver;
  background-color: silver;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.a-card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	display: grid;
	margin: auto;
	padding: 2% 2% 2% 2%;
	border-radius: 20px;
	background: #f0f0f0;
	width: 18rem;
}

.a-card:hover {
   box-shadow: 0 8px 16px 0 rgba(0,0,0,2);
}

.card-body  {
   padding: 2px 16px;
}
