<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
  </script>
  <title>AddBlog</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 m-auto">
        <h1 class="text-center display-4 my-4">Add Blog Post to The database</h1>
        <form action="/admin/addBlog" method="POST" enctype="multipart/form-data">
          <div class="row">
            <div class="col">
              <input type="text" name="Title" class="form-control" placeholder="Title" aria-label="Title">
            </div>
          </div>
          <div class="row my-4">
            <div class="col">
              <p>Author Name</p>
              <input type="text" name="AuthorName" class="form-control" placeholder="Author Name"
                aria-label="Author name">
            </div>
            <div class="col">
              <p>Author Email</p>
              <input type="email" name="AuthorEmail" class="form-control" placeholder="Author Email"
                aria-label="Author Email">
            </div>
            <div class="col">
              <p>Linked Profile Link</p>
              <input type="text" name="AuthorLinkedIn" class="form-control" placeholder="Author LinkedIn Profile Link"
                aria-label="Author Profile">
            </div>
          </div>
          <select class="form-select my-4" name="Category" aria-label="Default select example">
            <option selected>Choose Category</option>
            <option value="Competitive Programming">Competitive Programming</option>
            <option value="Web Development">Web Development</option>
            <option value="Machine Learning">Machine Learning</option>
            <option value="Network Security">Network Security</option>
            <option value="App Development">App Development</option>
          </select>
          <div class="form-floating my-4">
            <textarea class="form-control" name="Content" placeholder="Write Full Description" id="floatingTextarea2"
              style="height: 100px"></textarea>
            <label for="floatingTextarea2">Content Of the Blog</label>
          </div>
          <div class="form-floating my-4">
            <textarea class="form-control" name="ShortDescription" placeholder="Write Short Description"
              id="floatingTextarea2" style="height: 100px"></textarea>
            <label for="floatingTextarea2">Short Of the Blog</label>
          </div>
          <div class="form-floating my-4">
            <textarea class="form-control" name="Tags" placeholder="Write a Short Description"
              id="floatingTextarea"></textarea>
            <label for="floatingTextarea">Related Tags</label>
          </div>
          <div class="col my-2">
            <p>Created Date:</p>
            <input type="date" name="CreatedDate" class="form-control" placeholder="Date" aria-label="Date">
          </div>
          <label for="basic-url" class="form-label">Any Link</label>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">Link(if any)</span>
            <input type="text" name="Link" class="form-control" id="basic-url" aria-describedby="basic-addon3">
          </div>
          <div class="input-group mb-3">
            <div class="col">
              <label for="file" class="custom-file-label">Choose Blog Image</label>
            </div>
            <div class="col">
              <input type="file" name="blogImage" class="form-control" id="inputGroupFile02">
            </div>
          </div>
          <input type="submit" value="Submit" class="btn btn-primary btn-block">
        </form>
      </div>
    </div>
  </div>
</body>

</html>