<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Blog Post</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css" />
  </head>


  <style>
    @import url(https://fonts.googleapis.com/css?family=Sniglet|Raleway:900);

body, html{
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Sniglet', cursive;
  background-image: url("https://htmlcolors.com/gradients-images/53-light-purple-gradient.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
}

 h1{
  font-weight: normal;
  font-size: 50px;
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 70px;
  width: 480px;
  color: rgb(135, 18, 231);
  text-align: center;
} 
h2{
  font-weight: normal;
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  margin-top: 50px;
  margin-top: 50px;
  width: 300px;
  color: rgb(90, 6, 129);
  text-align: center;
}

#form{
  height: 100%; 
  /* background-color: #9c5ad1; */
  overflow: hidden;
  position: relative;

  /* glassmosphism css */
  background: rgba( 255, 255, 255, 0.05 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 2.5px );
  -webkit-backdrop-filter: blur( 2.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  
}
form{
  margin: 0 auto;
  width: 600px;
  padding-top: 10px;
  padding-bottom: 20px;
  color: rgb(0, 0, 0);
  position: relative;
}

label, input, textarea{
  display: block; 
}
input, textarea{
  width: 600px; 
  border: none;
  border-radius: 8px;
  outline: none;
  padding: 10px;
  font-family: 'Sans-serif';
  font-size: 1.3em;
  color: #2e2c2c;
  transition: border 0.2s;
  border: solid 2px #706775;
  box-sizing: border-box;
  
}
input:focus, textarea:focus{
  border: solid 2px #630b9e;  
}

textarea{
  height: 150px;  
  resize: none; 
  overflow: auto;
}
input[type="submit"]{
  background-color: rgb(135, 18, 231);
  color: white;
  height: 50px;
  cursor: pointer;
  margin-top: 40px;
  margin-top: 40px;
  font-size: 1.3em;
  font-family: 'Sniglet', cursive;
  transition: background-color 0.4s;
}
input[type="submit"]:hover{
  background-color: #3e67d6;
  
}
label{
  font-size: 1.4em;
  margin-top: 35px;
  margin-bottom: 5px;
  padding-left: 6px;
}
.formgroup{
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 10.5%;
  width: 700px;
  padding-top: 2px;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

</style>



<script>

$('document').ready(function(){
  $('input[type="text"], input[type="email"], textarea').focus(function(){
    var background = $(this).attr('id');
    $('#' + background + '-form').addClass('formgroup-active');
    $('#' + background + '-form').removeClass('formgroup-error');
  });
  $('input[type="text"], input[type="email"], textarea').blur(function(){
    var background = $(this).attr('id');
    $('#' + background + '-form').removeClass('formgroup-active');
  });

function errorfield(field){
  $(field).addClass('formgroup-error');
  console.log(field); 
}

$("#waterform").submit(function() {
  var stopsubmit = false;

if($('#name').val() == "") {
  errorfield('#name-form');
  stopsubmit=true;
}
if($('#email').val() == "") {
  errorfield('#email-form');
  stopsubmit=true;
}
  if(stopsubmit) return false;
});
    
});
</script>




  <body>

    <!-- <div class="ui main text container segment"> -->
      <div class="">
      <br>
      <h1>Add Blog Post</h1>

      <div id="form">
            
        <form id="waterform" action="/blogs" method="POST">
        
        <!-- <div class="formgroup" id="name-form">
            <label for="name">Your name*</label>
            <input type="text" id="name" name="name" />
        </div>
        
        <div class="formgroup" id="email-form">
            <label for="comment_email">Your e-mail*</label>
            <input type="email" id="comment_email" name="comment_email" />
        </div>
        
        <div class="formgroup" id="message-form">
            <label for="message">Comment</label>
            <textarea id="message" name="message"></textarea>
        </div>
        
          <input type="submit" value="Submit" />  -->


          <div class="form-group">
            <label for="author">Author Name</label>
            <input type="text" class ="form-control" name="author" >
          </div>


          <div class="form-group">
            <label for="author_email">Author Email</label>
            <input type="email" class ="form-control" name="author_email" >
          </div>
        

          <div class="form-group">
            <label for="blog_category">Post Category</label>
            <select name="blog_category" id="blog_category">
              <option value="Unclassified">Select options</option>
              <option value="Competitive Programming">Competitive Programming</option>
              <option value="Web Development">Web Development</option>
              <option value="App Development">App Development</option>
              <option value="Machine Learning">Machine Learning</option>
              <option value="Network Security">Network Security</option>
            </select>
          </div> 


          <!-- post status is draft unless approved by admin; hidden -->
          <div class="form-group" hidden>
            <label for="blog_status">Post Status</label>
            <input type="text" class ="form-control" name="blog_status" value="Draft">
          </div>
        
          <div class="form-group">
            <label for="blog_image">Post Image</label>
            <input type="file" name="image" >
          </div>
        

          <div class="form-group">
            <label for="blog_content">Post Content</label>
            <textarea class="form-control" name="blog_content" id="body" cols="40" rows="20"></textarea>
          </div>
          
          <div class="form-group">
            <label for="blog_tags">Post Tags</label>
            <input type="text" class ="form-control" name="blog_tags" >
          </div>


          
          <!-- <div class="">
            <input type="checkbox" id="tag_value1" name="tag_value1" value="CP">
            <label for="tag_value1"> Competitive Programming</label>
            <input type="checkbox" id="tag_value2" name="tag_value2" value="WebDev">
            <label for="tag_value2"> Web Development</label>
            <input type="checkbox" id="tag_value3" name="tag_value3" value="AppDev">
            <label for="tag_value3"> App Development</label>
            <input type="checkbox" id="tag_other" name="tag_other" value="Other">
            <label for="tag_value3">Other Tag </label>
          </div> -->

          <input class="btn btn-primary" type="submit" name="create_post" value="Publish Post">

        </form>
      </div>


    </div>

  </body>
</html>
