<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog App</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css" />
  </head>
  <body>


    <div class="ui main text container segment">
      <div class="ui huge header">New Blog</div>

      <form class="ui form" action="/blogs" method="POST">
        <div class="field">
          <label>Title</label>
          <input type="text" name="blog[title]" placeholder="Title" />
        </div>
        <div class="field">
          <label>Image</label>
          <input type="text" name="blog[image]" placeholder="image" />
        </div>
        <div class="field">
          <label>Written By</label>
          <input type="text" name="blog[writtenBy]" placeholder="Your Name" />
        </div>
        <div class="field">
          <label>Blog Content</label>
          <textarea
            name="blog[body]"
            id=""
            cols="30"
            rows="10"
            placeholder="Blog post goes here..."
          ></textarea>
          <!-- <input type="text" name="blog[body]" placeholder="Blog post goes here..."> -->
        </div>
        <input class="ui basic voilet button big" type="submit" />
      </form>
    </div>
  </body>
</html>
