<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Resources</title>
   <!-- required bootstrap CSS -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,800;1,400&family=Roboto:ital@0;1&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="resource_page\styles.css" />
</head>
<style>
  a {
    color: black;
  }
</style>

<body>
  <header>

    <!-- <nav id="navbar" class="navbar navbar-dark navbar-expand-md" >
      <a href="#" class="navbar-brand "><img src="landing_page/assets/images/NITM.png"  alt="logo NITM" /></a>
     <button  class="navbar-toggler" data-toggle="collapse" data-target="#content" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
    <div class="collapse navbar-collapse justify-content-end" id="content">
      <div class="navbar-nav">
      <a href="/events" class=" nav-link">EVENTS</a>
      <a href="/resources" class=" nav-link">RESOURCES</a>
      <a href="/projects" class=" nav-link">PROJECTS</a>
      <a href="/teams" class=" nav-link">TEAM</a>
     </div>
    </div>
  </nav> -->

  <div id="header">
    <h1 class="main-title">Resources</h1>
    <ul role="tablist" class="tablist">
      <li role="presentation" class="tablist__item">
        <a href="#content" role="tab" aria-selected="false" class="tablist__link">
          <img src="resource_page/images/m.png" alt="content image" class="tablist__image" />
          <figcaption class="tablist__figure-caption">Materials</figcaption>
        </a>
      </li>
      <li role="presentation" class="tablist__item">
        <a href="#blogs" role="tab" aria-selected="false" class="tablist__link">
          <img src="resource_page/images/b.png" alt="blog image" class="tablist__image" />
          <figcaption class="tablist__figure-caption">Blogs</figcaption>
        </a>
      </li>
      <li role="presentation" class="tablist__item">
        <a href="#lectures" role="tab" aria-selected="false" class="tablist__link">
          <img src="resource_page/images/v.png" alt="video image" class="tablist__image" />
          <figcaption class="tablist__figure-caption">Videos</figcaption>
        </a>
      </li>
    </ul>
  </div>
  </header>

  <main class="main-body">
    <div class="container">
      <div class="tab-content">
        <section id="content" role="tabpanel" aria-hidden="false">
          <article class="card">
            <div class="card__body">
              <div class="card__header">
                <h2 class="card__title">Materials</h2>
              </div>
              <br />
              <button class="accordion">Section 1</button>
              <div class="panel">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna
                  aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                  ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>

              <button class="accordion">Section 2</button>
              <div class="panel">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna
                  aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                  ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
              <button class="accordion">Section 3</button>
              <div class="panel">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna
                  aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                  ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
          </article>
        </section>
        <section class="sec" id="blogs" role="tabpanel" aria-hidden="false">
          <article class="card overflow-auto" style="display: flex">
            <div class="card__body cardblog">
              <div class="card__header">
                <h2 class="card__title">Blogs</h2>
              </div>
              <div class="cardbox">

                <% let temp = blog.length %>
                <% if(blog.length> 5){ %>
                <% temp = 5; %>
                <% } %>

                <% for(let i=0; i<temp; i++) {%>
                <a href="/resources/blog/<%= blog[i].id %> ">
                  <div class="d-flex flex-column">
                    <div className="user_name align-self-end">
                      <div class="card1">
                        <img class="card-img-top imgStyle" src="./resource_page/images/dummy.jpg"
                          alt="Card image cap" />
                        <div class="card-body">
                          <h3 class="card-title"><%= blog[i].title %> </h3>
                          <p class="card-text">
                            <%= blog[i].body %>
                          </p>
                          <p class="card-text">
                            <small class="text-muted"><%= blog[i].created %> </small>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
                <% } %>


              </div>
            </div>
          </article>
        </section>

        <section class="sec" id="lectures" role="tabpanel" aria-hidden="false">
          <article class="card">
            <div class="card__body">
              <div class="card__header">
                <h2 class="card__title">Videos</h2>
              </div>
              <div class="scrollmenu">
                <iframe class="iframe_video" src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=0">
                </iframe>
                <iframe class="iframe_video" src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=0">
                </iframe>
                <iframe class="iframe_video" src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=0">
                </iframe>
                <iframe class="iframe_video" src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=0">
                </iframe>
              </div>
            </div>
          </article>
        </section>
      </div>
    </div>
  </main>

   <!-- required bootstrap javascript -->
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

  <script src="resource_page/script.js"></script>
</body>

</html>