* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  
}
/* ________________________global style______________________________*/
/*html {*/
/*  scroll-behavior: smooth;*/
/*  !* background-color: #90d5ec;*/
/*background-image: linear-gradient(315deg, #90d5ec 0%, #fc575e 74%);*!*/
/*  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);*/
/*  background-size: 400% 400%;*/
/*  animation: gradient 30s ease infinite;*/
/*}*/
/*@keyframes gradient {*/
/*  0% {*/
/*    background-position: 20% 50%;*/
/*  }*/
/*  50% {*/
/*    background-position: 30% 70%;*/
/*  }*/
/*  100% {*/
/*    background-position: 60% 40%;*/
/*  }*/
/*}*/
body {
  scroll-behavior: smooth;
  background-image: linear-gradient(to bottom right, #855ccc, #120520);

}

/* ******************************navbar******** */
/* #navbar img{
  width:8vw;
  
}
#navbar{
  padding-top:25px; 
  margin-left: 5vw;
  margin-right:5vw;
}
#navbar a{
  text-decoration: none;
  color: #FFFFFF;
  font-size:1.5vw;
  margin: 0vw 2vw; 
} */

.container{
  background: linear-gradient(112.91deg,
            rgba(255, 255, 255, 0.479) 3.51%,
            rgba(255, 255, 255, 0) 111.71%);
            width:95vw;
            border-radius: 25px;
    border: 2px solid #0000002a;
   
}
.sec{
  margin-top: 60px;
}
@keyframes gradient {
	0% {
		background-position: 20%  100%;
	}
	50% {
		background-position: 90% 20%;
	}
	100% {
		background-position: 20% 100%;
	}
}
.pos{
  position:relative;
  margin-top:5px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

figure,
h1,
h2,
h3,
h4,
h5 h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
/* ________________________global style____________________________________________________________________________________________________________*/

.main-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 8vw;
  font-weight: 800;
  color: rgb(255, 255, 255);
  text-shadow: 3px 2px 7px rgb(2, 1, 10);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#navbar img{
  width:8vw;
  
}
#navbar{
  margin-left: 5vw;
  margin-right:5vw;
}
#navbar a{
  text-decoration: none;
  color: #FFFFFF;
  font-size:1.5vw;
  margin: 0vw 2vw; 
}

header {
  background-image: url(./images/backdrop.jpg);
  background-size: cover;
  max-width: 100%;
  height: auto;
   padding: 60px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; 
}
#header{
  padding: 60px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}



body {
  font-family: "Roboto", sans-serif;
  /* background-color: #bbf0f3;
  background-image: linear-gradient(315deg, #bbf0f3 0%, #f6d285 74%); */
  /* background-color: #90d5ec; */
  /* background-image: linear-gradient(315deg, #90d5ec 0%, #fc575e 74%); */

  line-height: 1.5;
  font-size: 1rem;
  color: #333;
  font-weight: 400;
}


.tablist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 40px;
}

.tablist__item {
  /* width: 20vw;
  height: 16vw;
  padding: 0 20px;
  position: relative; */
    width: 30vw;
    height: 24vw;
    padding: 0 20px;
    position: relative;
}

.tablist__link {
  display: inline-block;
  background: rgba(255, 255, 255, 0.4);
  padding: 3vw;
  border-radius: 10px;
  border: 3px solid rgba(255, 255, 255, 0.2);
  /* -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px); */
  width: 100%;
  height: 100%;
}

.tablist__link[aria-selected="true"],
.tablist__link:hover,
.tablist__link:focus {
  background: rgba(0, 0, 0, 0.7);
}

.tablist__link[aria-selected="true"] .tablist__figure-caption,
.tablist__link:hover .tablist__figure-caption,
.tablist__link:focus .tablist__figure-caption {
  color: #fff;
}

.tablist__image {
  display: block;
  margin: 0 auto;
  /* width: 10vw; */
  /* height: 100% */
  -o-object-fit: contain;
  object-fit: contain;
}


.tablist__figure-caption {
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  color: #000;
  letter-spacing: 1px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 2px;
  text-align: center;
  font-size: large;
}
/*__________________________________media query for header_____________________________*/
@media only screen and (min-width:200px){
  .tablist__figure-caption {
    font-size: small;
}
}

@media only screen and (min-width: 300px) {
  .tablist__item {
    width: 30vw;
    height: 24vw;
    padding: 0 20px;
    position: relative;
  }
  .tablist__link{
    padding: 3vw;
  }
  .tablist__figure-caption {
    font-size: small;
}

}

/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) {
  .tablist__item {
    width: 30vw;
    height: 24vw;
    padding: 0 20px;
    position: relative;
  }
  .tablist__link{
    padding: 3vw;
  }
  .tablist__figure-caption {
    font-size: medium;
}

}

/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) {

  .tablist__item {
    width: 20vw;
    height: 16vw;
    padding: 0 20px;
    position: relative;
  }
  .tablist__link{
    padding: 3vw;
  }
  .tablist__figure-caption {
    font-size: larger;
}
}


/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px) {

  .tablist__figure-caption {
    font-size: large;
  }
  .tablist__item {
    width: 18vw;
    height: 14vw;
    padding: 0 20px;
    position: relative;
  }

} 




.tab-content {
  padding: 60px 15px;
}

.container {
  /* max-width: 1130px; */
  margin: 15px auto;
  padding: 10px;
}

.card {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  background: rgb(255, 255, 255,1);
  border: 4px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  position: relative;
}
#material{
  margin-left:50%;

}
/*____________________media query for cards_______________________________________*/
@media screen and (max-width: 500px){
  .card{
    padding: 5px;
  }
  .card__body{
      padding-right: 7px;
      padding-left:  7px;
      margin-top: 10px;
      margin-bottom:10px;
  }
}

.card::before {
  content: "";
  background-size: contain;
  left: 0;
  top: -48px;
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: -1;
}

.card::after {
  content: "";
  background-size: contain;
  right: 0;
  bottom: -68px;
  width: 220px;
  height: 352px;
  position: absolute;
  z-index: -1;
}
#material{
  margin-left:40%;

}

.card:not(:last-child) {
  margin-bottom: 30px;
}

.card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  }

  
  

.card__body {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100% - 300px);
  flex: 0 0 calc(100% - 300px);
  max-width: calc(100% - 30px);
  padding-right: 10px;
  padding-left: 10px;

}
.cardblog{
  margin: auto;
}

.card__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 5.6vw;
  color: rgb(15, 11, 11);
  margin:auto;
  text-align: center;
  /* padding-right: 20px; */
  /* position: relative; */

}

/* .card__title::before {
  content: '';
  background-color: #a8293c;
  position: absolute;
  left: -20px;
  top: 0;
  height: calc(100% + 25px);
  width: 3px;
} */

/* .card__subtitle {
  font-weight: 300;
  font-size: 2rem;
  color: #111111;
  position: relative;
} */

/* .card__subtitle::before {
  content: '';
  background-color: #a8293c;
  position: absolute;
  left: -20px;
  bottom: -11px;
  height: 25px;
  width: 3px;
} */

/* .card__figure {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  max-width: 300px;
  position: relative;
} */

.card__figure::before {
  content: "";
  /* background: url(images/basilic.png) no-repeat; */
  flex: 0 0 300px;
  max-width: 300px;
  position: relative;
}

.card__figure::before {
  content: "";
  /* background: url(images/basilic.png) no-repeat; */
  flex: 0 0 300px;
  max-width: 300px;
  position: relative;
}

.card__figure::before {
  content: "";
  /* background: url(images/basilic.png) no-repeat; */
  flex: 0 0 300px;
  max-width: 300px;
  position: relative;
}

.card__figure::before {
  content: "";
  /* background: url(images/basilic.png) no-repeat; */
  background-size: contain;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  position: absolute;
}

.card__info {
  color: #000;
  font-size: 1.5rem;
}

.card__info__title {
  color: #444;
  display: block;
  font-size: 1rem;
  line-height: 1.1;
}

.card__content {
  margin-top: 10px;
  padding-right: 114px;
  font-size: 1.25rem;
}

.card__footer {
  margin-top: 30px;
}

.card__footer .button {
  margin-right: 15px;
}

.button {
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 1.1rem;
  border: 1px solid transparent;
  min-width: 150px;
  cursor: pointer;
  opacity: 0.8;
}

.button:focus,
.button:hover {
  opacity: 1;
}

.button--primary {
  background-color: #f11d1c;
  color: #fff;
}

[aria-hidden="true"] {
  display: none;
  visibility: hidden;
}
/*# sourceMappingURL=styles.css.map */



/*______________________________________________cards of blogs______________________________________________*/
.card1 {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	display: grid;
	margin: 8px;
	padding: 2% 1% 1% 2%;
	border-radius: 20px;
	background: #f0f0f0;
	width: 18rem;
}

.card1:hover {
   box-shadow: 0 8px 16px 0 rgba(0,0,0,2);
}

.card-body  {
   padding: 2px 2px;
   margin : auto;
}

.cardbox{
     display: flex;
    overflow-x:scroll;
    overflow-y:auto;
   margin: 2% 1% 1% 2%;
}
.imgStyle{
    border-radius: 10px;
}
@media screen and (max-width: 500px) {
    .cardbox {
                 flex-direction: column;
             }
    .card1{
                 width: 14rem;

        }
    .card-text{
                     font-size: 12px;
               }


}
/*______________________________________________Accordion of content______________________________________________*/
.accordion {
  background-color: transparent;
  color: #444;
  cursor: pointer;
  padding: 22px;
  width: 120%;
  border: none transparent;
  margin-bottom: 5px;
  font-size: 18px;
  text-align: left;
  outline: none;
  transition: 0.4s;
  filter: blur(0.05px);
  border-radius: 25px;
  z-index: -2;
}

.active, .accordion:hover {
  font-size: 20px;
  font-weight: 300;
}


.panel {
  padding: 0 18px;
  display: none;
  border: 2px inset black;
  border-radius: 25px;
  text-align: left;
  margin-bottom: 17px;
  overflow: hidden;
  width:115%;
}
@media screen and (max-width: 700px) {
  .accordion { padding: 10px;
               font-size : 16px;
            }
  .active, .accordion:hover {
                                 font-size : 18px;
                            }
  .panel {
               padding: 10px;
               width:250%;
               margin-right:10%;
         }
}
/*______________________________________________Accordion of content______________________________________________*/

/*______________________________________________Scroll bar of video ______________________________________________*/

div.scrollmenu {
  background-color: transparent;
  /*overflow: auto;*/
  overflow-x: auto;
  white-space: nowrap;
}
/* Add the ability to scroll */

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FAD3EC;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3C1A63;
}

div.scrollmenu a:hover {
  background-color: transparent;
}


/*______________________________________________Scroll bar of video ______________________________________________*/

/*______________________________________________iframe ______________________________________________*/

.iframe_video {
  width: 400px;
  height: 350px;

  border: none;
  border-radius: 20px;
}
@media screen and (max-width: 800px) {
  .iframe_video{
                    width: 250px;
                    height: 150px;

                }
}
@media screen and (max-width: 600px) {
  .iframe_video {
    width: 250px;
    height: 150px;

  }
}

/*_____________________________________________iframe______________________________________________*/
