html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  display: grid;
  grid-template-columns: min-content 1fr;
  font-family: system-ui, sans-serif;
  
  /* this breaks position sticky in Firefox */
  /* overflow-x: hidden; */
}

nav {
  padding-top: 10rem;
  white-space: nowrap;
  background: whitesmoke;
  width: 20vw;
  padding-left: 5%;
  box-shadow: 2px 5px 5px rgba(1,0,0,0.5);
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}
/* Only stick if you can fit */
@media (min-height: 300px) {
  nav ul {
    position: sticky;
    top: 40%;
  }
}
nav ul li a {
  display: block;
  padding: 0.5rem 1rem;
  color:black;
  text-decoration: none;
}
nav ul li a.current {
  background: whitesmoke;
  font-size: 1.7rem;
}
main {
  padding-bottom: 40rem;
}
section {
  padding: 2rem;
  margin: 0 0 2rem 0;
}
.card{
  width: 80%;
  /* height: 45vh; */
  box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
  border-radius: 9px;
  background: rgba(255, 255, 255, 0.445);
  overflow: hidden;
  border-top: 1px solid rgba(255,255,255,0.4);
  border-left: 1px solid rgba(255,255,255,0.4);
   padding: 15px 15px; 
  backdrop-filter: blur(6px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  cursor: pointer;
  margin: 15px;

}
/* .ab{
  align-content: center;
 vertical-align: -webkit-baseline-middle;
} */
.button {
  border-radius: 20px;
  padding: 8px 15px;
  font-size: 1rem;
  border: 1px solid transparent;
  min-width: 100px;
  cursor: pointer;
  opacity: 0.8;
  
}

  

.button:focus, .button:hover {
  opacity: 1;
}

.button--primary {
  background-color: #f11d1c;
  color: #fff;
  
}
.card__footer {
  margin-bottom: 0px;
}

.card__footer .button {
  margin-right: 15px;
}
a{
  text-decoration: none;
}
@media screen and (min-width:400px)
{
  .nav{
    display: none;
  }
}
@media all and (max-width: 768px) {
  
  .abc {display:none;}
  .card{
    width: 100vw;
    /* height: 45vh; */
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 9px;
    background: rgba(255, 255, 255, 0.445);
    overflow: hidden;
    border-top: 1px solid rgba(255,255,255,0.4);
    border-left: 1px solid rgba(255,255,255,0.4);
     padding: 15px 15px; 
    backdrop-filter: blur(6px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    cursor: pointer;
    margin: 15px;
  
  }
  nav {
    padding-top: 10rem;
    white-space: nowrap;
    background: white;
    width: 0vw;
    padding-left: 2%;
    padding-right: 2%;
    
  }
}