.ab{
  padding-right: 2vw;
}
.abc{
  float:right;
}
html {
	scroll-behavior: smooth;
}
body{
  line-height: 1.2rem;
}
.title-heading {
	height: 4cm;
	background: #6441A5;  /*Twitch */
	background: -webkit-linear-gradient(to right, #2a0845, #6441A5);  
	background: linear-gradient(to right, #2a0845, #6441A5); 

	/*background-color: #4f2c82;*/
	/*background: #ffafa1;*/
	font-size: 250%;
	padding: 4rem 2% 2% 4%;
	color: white;
	vertical-align: middle;
}

/*------------ Stories Section --------------*/
#stories {
  /*padding-bottom: 60px;
  padding-top: 80px;*/
}

/* .slide_button {
  padding-top: 20px;
  padding-left: 0px;
  position: absolute;
  top: 20rem;
  left: -1rem;
} */

.imgStyle {
	margin: auto;
	max-width: 90%;
	height: auto;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.card-body-style {
	background: #654ea3; /*Ultra Violet*/
	background: -webkit-linear-gradient(to right, #654ea3, #eaafc8);  
	background: linear-gradient(to right, #654ea3, #eaafc8); 

	
	position: relative;
	/*background-color: #4f2c82;*/
	padding: 10px 50px 0px 50px;
	/*background: #DAE2F8;  /*Moonlight*/
	/*background: -webkit-linear-gradient(to right, #D6A4A4, #DAE2F8);  
	background: linear-gradient(to right, #D6A4A4, #DAE2F8);*/
}
.cardbox {
  margin-right: 2vw;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  display: flex;
}

.scrollbtn {
  padding-left: 2vw;
  padding-top: 20px;
  padding-bottom: 10px;
}
#slideLeft {
  color: rgb(255, 255, 255);
  margin-right: 10px;
  position: absolute;
  top: 200px;
  left: 1px;
}
#slideRight {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 200px;
  right: 1px;
}
i.sicon1 {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px black;
  background-color: black;
  padding: 15px 20px;
}
i.sicon2 {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px rgb(255, 255, 255);
  background-color: black;
  padding: 15px 20px;
}
#slideLeft:hover {
  color: black;
}
#slideRight:hover {
  color: black;
}
i.sicon1:hover {
  box-shadow: 0px 0px 2px silver;
  background-color: silver;
}
i.sicon2:hover {
  box-shadow: 0px 0px 2px silver;
  background-color: silver;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	display: grid;
	margin: auto;
	padding: 2% 2% 2% 2%;
	border-radius: 20px;
	background: #f0f0f0;
	width: 18rem;
}

.card:hover {
   box-shadow: 0 8px 16px 0 rgba(0,0,0,2);
}

.card-body  {
   padding: 2px 16px;
}