*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
}

/* ******header section****** */

header{
    height: 130 vh;
    /* background-position: 70% 40%; */
    background-image: url(../images/backdrop.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: white; */
}
.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a{
    text-decoration: none;
    color: #FFFFFF;
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    color: #3aa7c9
}
#logo{
    cursor: pointer;
}
#logo img{
    width:6vw;
}
#plants{
    width: 50%;
}


#cc{
    color: #EBEBEB;
    position: absolute;
    margin: 16vw 13vw ;
    font-size: 6.5vw;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#nm{
    color: #FFFFFF;
    position: absolute;
    margin: 24vw 14vw;
    font-size: 3vw;
    letter-spacing: 0.11em;
    text-shadow: -14px 16px 27px rgba(0, 0, 0, 0.8);
}
#button{
    border: none;
    position: absolute;
    background: #B5076B;
    box-shadow: -14px 16px 27px rgba(0, 0, 0, 0.25), inset 5px -6px 10px rgba(0, 0, 0, 0.25), inset -5px 5px 8px rgba(176, 71, 131, 0.82);
    border-radius: 25px;
    margin: 28vw 14vw;
    padding: 1vw 2vw;
}
#contact{
    line-height: 24px;
    letter-spacing: 0.07em;
    color: #FFFFFF;
    font-size: 1.2vw;
}
#sideglass img{
width: 115%;
min-height: fit-content;
}

#sideglass{
    position: relative;
    width: 65vw;
    height: fit-content;
    overflow-x: hidden;
    
    margin: -1vw 0 auto auto;
    z-index: 1;
}
#cube1 img{
    width: 9vw;
}
#cube2 img{
    width: 15vw;
}
#cube3 img{
    width: 13vw;
}
#cube4 img{
    width: 11vw;
}
#cube1,#cube2,#cube3,#cube4{
    position: absolute;
    width: fit-content;
    height: fit-content;
}
#cube1{
  top: 0;
  right: 1vw;
}
#cube2{
   top: 10vw;
   right: 20vw;
}
#cube3{
    top: 26vw ;
    right: 6vw;
}
#cube4{
    top:33.5vw ;
}

/* ********* about us section******** */

.about-us{
    box-sizing:border-box;
    
    padding: 20vh 5vw 20vh 5vw;
}
#box{
    box-sizing: border-box;
    background-color: #F9F9F9;
    border-radius: 20px;
    height: 40vw;
   align-items: center;
}
#deslong{
    position: relative;
    margin: auto;
    padding-top: 10vh;
    width: 65%;
    font: weight 20;
    font-size: 3.2vw;
    line-height: 164.9%;
    color: #000000;
    text-align: center;

}
#desshort{
    position: relative;
    margin: auto;
    padding-top: 2.7vw;
    width: 83%;
    font-style: normal;
    font: weight 100; 
    font-size: 1.5vw;
    line-height: 164.9%;
    color: #423a4f;
    text-align: center;
}
#d3,#d2,#d1{
    display: inline-block;
    position: relative;
    text-align: center;
}
#d1 img{
    width: 10vw;
}
#d2 img{
    width: 15vw;
}
#d3 img{
    width: 7vw;
}
#d1{
    bottom: 32vw;
    left: 72vw;
} 
#d2{
    bottom:23vw;
    left: -12vw;
}
#d3{
    bottom: 14vw;
    left: 53vw;
}

/* ******What we do?****** */

.headingPurple{
    font-weight: 500;
    font-size: 4vw;
    line-height: 164.9%;
    text-align: center;
    color: #3C1A63;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -5px 16px 32px rgba(44, 19, 73, 0.2);
    padding-bottom: 6vw;
}
.cards{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.border{
    background-image: linear-gradient(to right,rgba(0,0,0,0.22), black,rgba(0,0,0,0.22));
    /* background-color: #B5076B; */
    width: 80%;

}
.icondes{

    text-align: center;
    font-size: 1.75vw;
    width: 100%;
    overflow-wrap: break-word;
    background-color:rgba(255, 255, 255, 1);
    margin: auto;
    margin-top: 1.5px;
    padding-top: 1vw;
    
}
.whiteBox img{
    width: 80%;
    height: 30%;
    padding-top: 5vw;
    
}
.cards :nth-child(2) .whiteBox img{
    height: 45%;
    padding-top: 3vw;
    
}
.cards :nth-child(2) .whiteBox .border{
    margin-top: -1.5px;
}
.cards :nth-child(2) .whiteBox .icondes{
    margin-top: 1.5px;
}
.whiteBox{
    box-sizing: border-box;
    position: relative;
    width: 24vw;
    height: 28vw;
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}
.colorBox{
    margin-top: -24vw;
    left: 4vw;
    position: relative;
    width: 24vw;
    height: 28vw;
    /* left: 5px;
    top: 48px; */
    z-index: -1;
    background-color: rgba(255, 106, 137, 0.2);
    border-radius: 25px;
}
.cards :nth-child(2) .colorBox{
    background-color:  rgba(106, 130, 251, 0.2);
}
.cards :nth-child(3) .colorBox{
    background-color:  rgba(225, 0, 255, 0.2);;
}

@media only screen and (max-width: 450px){
    header{
       
        height:fit-content;
        background-size: cover;
    }
}


