body {
    background-color: #ececec;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin-top: 60px;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-weight: 500;
}

.tag {
    border: 1px solid black;
    padding: 5px;
    border-radius: 18px;
    margin-top: 8px;
    max-width: 200px;
    margin-left: 10px;
    color: rgb(50, 128, 212);
}

.author {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-weight: 500;
    font-size: 18px;
    color: rgb(50, 128, 212);
}