body {
    background-color: #ececec;
    font-family: 'Roboto', sans-serif;
}

.blog-container {
    margin-top: 60px;
    margin-left: 40px;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-weight: 500;
}

.tag {
    border: 1px solid rgb(154, 168, 236);
    padding: 5px;
    border-radius: 18px;
    margin-top: 8px;
    color: rgb(109, 131, 242)
}

.tag:hover {
    background-color: rgb(166, 178, 236);
    color: whitesmoke;
}

.author {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-weight: 500;
    font-size: 18px;
    color: rgb(109, 131, 242)
}

.col {
    word-wrap: break-word;
    max-width: 70%;
}

#rightcol {
    position: fixed;
    float: right;
    right: 0;
    max-width: 30%;
}

@media screen and (max-width: 600px) {
    #rightcol {
        position: static;
        float: none;
        max-width: 100%;
        right: none;
    }
    img {
        max-width: 100%;
    }
    .col {
        word-wrap: break-word;
        max-width: 100%;
    }
    .blog-container {
        margin-top: 10px;
        margin-left: 10px;
    }
}