*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Montserrat", sans-serif;
}

body{
    width: 100%;
    background: #4f2c82;
    background-size: cover;
    /* position: relative; */
}

.wrapper{
    width: 1152px;
    display: flex;
    justify-content: space-between; 
     align-items: center;
    min-height: 100vh;
    margin : 0 auto;
    
}
.round-1{
    position: absolute;
    top: 5%;
    left: 10%;
    width: 14em;
    height: 14em;
    border-radius: 50%;
    box-shadow: 0 0 40px #d84869;
    background: linear-gradient(-26deg,#d84869, #f46641 );
}
h1{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 20px;
}

.box{
    width: 320px;
    height: 370px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: #ffffff1a; */
    background: linear-gradient(
    112.91deg,
    rgba(255, 255, 255, 0.479) 3.51%,
    rgba(255, 255, 255, 0) 111.71%
  );
    padding: 1.5em;
    border-radius: 25px;
    border: 2px solid #0000002a;
    text-align: center;
    /* backdrop-filter: blur(70px); */
    margin: 20px 0px;
    
}

.profile-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    
}

.profile-img::before {
    position: absolute;
    content: "";
    width: 120px;
    height: 120px;
    z-index: -1;
    top: 20px;
    right: 98px;
    border-radius: 50%;
    background: linear-gradient(
      112.91deg,
      rgba(255, 255, 255, 0) 3.51%,
      rgba(255, 255, 255, 0) 111.71%
    );
    filter: blur(70px);
    filter: drop-shadow(50px 60px 100px rgba(0, 0, 0, 0.05));
  }

.profile-img img{
    width: 100%;
}

.box h2{
    color: #ffffff60;
    text-transform: uppercase;
    margin: 15px 0;
    font-size: 2.2rem;
    font-weight: bold;
    /* letter-spacing: 0.065em; */
    /* margin-bottom: 1rem */
}
.box p{
    color: #ffffff90;
    font-size: 15px;
}
.Socials{
    margin-top: 30px;
}
.Socials i{
    margin: 0 10px;
    font-size: 25px;
}

.Socials i:hover{
    color: white;
}

